  <div class="container my-5 d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-3">Modifier l'évenement</h1>
<%= form_with model:@event, class:"form" do |form| %>
  <div class="container my-5 d-flex flex-column justify-content-center align-items-center">
<%=form.label :title,"Nom de l'évenement", class:'form-label' %>
<%=form.text_field :title,class:"form-control"%>

<%=form.label :start_date,"Jour de l'évenement", class:'form-label' %>
<%=form.text_field :start_date,class:"form-control" %>

<%=form.label :description,"Description", class:'form-label' %>
<%=form.text_area :description,class:"form-control",rows:"8"%>

<%=form.label :price,"Prix de l'évenement", class:'form-label' %>
<%=form.text_field :price,class:"form-control"%>

<%=form.label :location,"Lieu de l'évenement", class:'form-label' %>
<%=form.text_field :location,class:"form-control" %>

<%=form.label :duration,"Durée de l'évenement", class:'form-label' %>
<%=form.text_field :duration,class:"form-control" %>

<%=form.submit "Modifier un évenement", class:"btn btn-outline-primary my-3" %>
<%end%>