<div class="container">
<h1>Evenement à venir</h1>
  <% @events.each do |event| %>
    <div class="card my-3" >
  <%if event.admin == current_user%>
      <div class="card-header"style="background-color:#e3ffe6">
    <%else %>
      <div class="card-header">
    <%end %>
        <%=event.start_date.to_date %>, <%=event.location %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%=event.title %></h5>
        <p class="card-text"><%=event.description %></p>
        <%= link_to "Afficher l'évenement", event_path(event.id),class:"btn btn-sm btn-outline-primary"%>
          <%if event.admin != current_user%>
        <button class="btn btn-success btn-sm">Réserver</button>
        <%end %>
      </div>
    </div>
        <%end %>
</div>