        <li>
         Nom de l'évent : <%=@event.title %>
        </li>
        <li>
         Prix : <%=@event.price %> $
        </li>
        <li>
         Description : <%=@event.description %>
        </li>
        <li>
         Location : <%=@event.location %>
        </li>
        <li>
         Durée : <%=@event.duration %> minutes
        </li>
        <li>
         Date : <%=@event.start_date %>
        </li>