    <div class="container">
    <div class="card my-3">
        <% if @event.admin == current_user %>
      <div class="card-header"style="background-color:#e3ffe6">
        <%=@event.start_date.to_date %>, <%=@event.location %>                 
          <%= link_to "Modifier l'évenement", edit_event_path, class:"blockquote-footer"%>
          <%else %>
            <div class="card-header">
              <%=@event.start_date.to_date %>, <%=@event.location %>    
        <%end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%=@event.title %></h5>
        <p class="card-text"><%=@event.description %></p>
        <p class="card-text"><%=@event.price %> €</p>
        <p class="card-text"><%=@event.duration%> minutes</p>
        <p class="card-text">Organiser par <%=@event.admin.first_name %> <%=@event.admin.last_name %> <%= link_to "Voir le profil", user_path(@event.admin.id),class:"blockquote-footer"%></p>
        <%= link_to "Retour à la liste", events_path,class:"btn btn-sm btn-outline-primary"%>
        <button href="#" class="btn btn-success btn-sm">Réserver</button>

      </div>
    </div>
    </div>